<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>
<body>
    <h1>working</h1>
    <form method="POST" actions = "/predict" >
        {{ form.csrf_token }}
        <div class = "form-field">{{ form.month.label }} {{ form.month }}</div>
        <div class = "form-field">{{ form.dayofweek.label }} {{ form.dayofweek }}</div>
        <input type = "submit" value = "submit">

    </form>
</body>
</html>